<section id="showcase" class="py-5">

    <div class="primary-overlay text-white">

        <div class="container">

            <div id="showcase-height" class="row justify-content-center align-items-center">

                <div class="col-lg-6 text-center ">

                    <h1 class="text-muted">خوش گلیب سوز</h1>
                    <p class="text-secondary">
                        برگ کاهم در مصاف تند باد
                    </p>
                    <a href="#" class="btn btn-outline-secondary bt-lg">
                        باخماخ <i class="fas fa-arrow-left"></i>
                    </a>

                </div>

                <div class="col-lg-6 text-center">
                    <img width="500" height="500" src="./img/online_presentation.svg" alt=""
                         class="img-fluid d-none d-lg-block m-auto" />
                </div>

            </div>

        </div>

    </div>

</section>


<section id="news" class="bg-dark text-white py-5">

    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-2">
                <input type="text" class="form-control form-control" placeholder="نام خود را وارد کنید" />
            </div>

            <div class="col-md-4 mb-2">
                <input type="text" class="form-control form-control" placeholder="ایمیل خود را وارد کنید" />
            </div>

            <div class="col-md-4 mb-2">
                <button class="btn btn-primary btn-block">
                    ارسال <i class="fas fa-paper-plane"></i>
                </button>
            </div>

        </div>

    </div>

</section>
@code {

}
